.home-container {
    margin-top: -9px;

    .content-strip {
        margin-bottom: 20px;
    }

    .navigation-tile {
        height: 100px;
        width: 200px;
        float: left;
        margin: 10px 5px 10px 5px;
        background-color: white;
        box-shadow: 1px 1px 5px #999999;

        &:hover {
            opacity: 0.7;
        }

        .navigation-item {
            color: #888888;
            font-size: 20px;
            font-weight: bold;
            height: 100%;
            width: 100%;
            cursor: pointer;
            margin-top: 5px;
            margin-left: 5px;
        }
    }
}